<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/Musica" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" id="Artista_Banda" name="Artista_Banda">
            <input type="text" id="Cancion" name="Cancion">
            <input type="text" id="Enlace" name="Enlace">
            <button type="submit">Agregar</button>
        </form>
</body>
</html>